---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$background-color: #443933; // supplemented with an image pattern below.
$tutorial-blue:      #00557e;
$triangle-color-1:   #f2b200;
$triangle-color-2:   #e84b38;

$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   14px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #fff;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        800px;

$tutorial-index-left-margin: 12px;
$footer-height:    124px;

// Overall
// Scale It Down
//
pre > code {
  font-family:     monospace;
  font-size:       $base-font-size * 0.86;
}

h2 {
  font-size:       $base-font-size * 1.6;
}

h3 {
  font-size:       $base-font-size * 1.4;
}

h4 {
  font-size:       $base-font-size * 1.2;
}

html, body {
  height: 100%;
}

// Wrapper for page content to push down footer
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -1 * $footer-height;
  /* Pad bottom by footer height */
  padding: 0 0 $footer-height;
}

// Background image
//
body {
  background-image: url('{{ site.baseurl }}/images/WB-Paper-background.png');
}

// Webfonts
//
.Museo-700 {
  font-family:     Museo-700;
  font-weight:     normal;
  font-style:      normal;
}
.Museo-300 {
  font-family:     Museo-300;
  font-weight:     normal;
  font-style:      normal;
}
.Museo-500 {
  font-family:     Museo-500;
  font-weight:     normal;
  font-style:      normal;
}

// Navbar
//
.navbar {
  min-height:      48px;
  font-family:     Museo-500, serif;
}
// Tweak placement of WhirlyGlobe-Maply logo
.navbar-brand {
  padding-top:     9px;
}

// Carousel
#carousel-homepage {
  padding-top:     30px; // Clear out room for the fixed header
}

// Big Buttons
.big-button {
  padding: 30px 4px 0 0;
}
a.bb-source, a.bb-binary, a.bb-documentation, a.bb-cocoapods {
  display: inline-block;
  width: 147px;
  height: 119px;
  overflow: hidden;
  font-family:    Museo-500;
  font-size: 1em;
  line-height: 15em;
  text-align: center;
}
a.bb-source {
  background: url('{{ site.baseurl }}/images/bb-source.png') no-repeat 0 0;
}
a.bb-binary {
  background: url('{{ site.baseurl }}/images/bb-binary.png') no-repeat 0 0;
}
a.bb-documentation {
  background: url('{{ site.baseurl }}/images/bb-documentation.png') no-repeat 0 0;
}
a.bb-cocoapods {
  background: url('{{ site.baseurl }}/images/bb-cocoapods.png') no-repeat 0 0;
}
a:hover.bb-source, a:hover.bb-binary, a:hover.bb-documentation, a:hover.bb-cocoapods {
  background-position: 0 -119px;
}

// Homepage
.homepage {
  color:            #000;
  background-color: #fff;
  padding-bottom:   30px;
  h2, h3, h4, h5, h6 {
    font-family:    Museo-500;
    padding-top:    1em;
    line-height:    2.4em;
    border-bottom:  solid 1px #000;
  }
  p {
    font-family:   Roboto;
  }
  .video-caption {
    h2 {
      text-transform: uppercase;
      font-size:      1em;
      line-height:    $base-line-height * 0.8;
      margin-bottom:  0;
      border-bottom:  none;
    }
  }
  a {
    color:             $grey-color;
    text-decoration:   underline;

    &:visited {
      color:           silver;
    }

    &:hover {
      color:           $tutorial-blue;
      text-decoration: underline;
    }
  }
}
ul.docs-and-resources {
  li {
    list-style: none;
    padding:    10px 0 10px 12px;
    position:   relative;
  }
  li:before {
    display:    inline-block;
    height:     30px;
    width:      31px;
    content:    '';
    background: url('{{ site.baseurl }}/images/homepage-li-sprites.png') no-repeat 0 0;
    position:   absolute;
    left:       -34px;
    top:        5px;
  }
  .arrow {
    background-position: 0 0;
  }
  li.doc:before {
    background-position: 0 -30px;
  }
  li.mail::before {
    background-position: 0 -60px;
  }
  li.mousebird:before {
    background-position: 0 -90px;
  }
}

// Tutorial
.tutorial {
  color:           $text-color;
  padding-top:     68px; // Clear out room for the fixed header
  a {
    color: $text-color;
    text-decoration: underline;

    &:visited {
      color: darken($text-color, 15%);
    }

    &:hover {
      color: $triangle-color-1;
      text-decoration: underline;
    }
  }
}
.tutorial-main {
  background-color: $tutorial-blue;
  padding-bottom:   30px;
  h2, h3, h4, h5, h6 {
    padding-top:    1em;
    font-family:    Museo-500;
  }
  p {
    font-family:    Roboto;
  }
  p, h4, h5, h6, .highlight {
    margin-left:   $base-font-size * 2;
  }
  ol, ul, li {
    margin-left:   $base-font-size * 1.5;
  }
  h2::before {
    content:       '▶';
    font-size:     $base-font-size * 1.2;
    color:         $triangle-color-1;
    padding:       0 $base-font-size * 0.9 0 0;
    margin-left:   0;
  }
  h3::before {
    content:       '▶';
    font-size:     $base-font-size * 1.2;
    color:         $triangle-color-2;
    padding:       0 $base-font-size * 0.9 0 0;
    margin-left:   0;
  }
  .well {
    margin-left:   $base-font-size * 2;
    color:         $tutorial-blue;
    background:    #dddbdc no-repeat top right;
    border-radius: 16px;
    h4, p {
      padding-top: 0.2em;
      margin-left: 0;
    }
  }
}.affix-bottom {
  position:        absolute;
 }
.tutorial-sidebar {
  li {
    font-family:   Roboto;
  }
  li.sidebar-header-item {
    text-transform: uppercase;
    padding-left:   $tutorial-index-left-margin;
  }
  ol.sidebar-list-items {
    margin-left:    $tutorial-index-left-margin;
    padding-bottom: 1/3 * $spacing-unit;
  }
  li.sidebar-list-item.current {
    padding-left:   0;
    &:before {
      margin-left:  -$base-font-size * 0.92;
      content:      '▶ ';
      font-size:    $base-font-size * 0.8;
      color:        $triangle-color-1;
    }
  }
}

// prev / next
// modeled after http://www.chromaticsites.com/blog/css-image-rollovers-accessible-standard-compliant-flicker-free
//
#prev-next {
  padding: 24px 0 24px 0;
  text-align: center;
}
a.prev {
  display: inline-block;
  width: 159px;
  height: 64px;
  background: url('{{ site.baseurl }}/images/prev.png') no-repeat 0 0;
  overflow: hidden;
  font-family:    Museo-500;
  font-size: 1em;
  line-height: 4.6em;
}
a.next {
  display: inline-block;
  width: 159px;
  height: 64px;
  background: url('{{ site.baseurl }}/images/next.png') no-repeat 0 0;
  overflow: hidden;
  font-family:    Museo-500;
  font-size: 1em;
  line-height: 4.6em;
}
a:visited.prev, a:visited.next {
  background-position: 0 -64px;
}
a:hover.prev, a:hover.next {
  background-position: 0 -128px;
}
a:active.prev, a:active.next {
  background-position: 0 -192px;
}

// footer
.site-footer {
  height:     $footer-height;
}
.site-description {
  text-align: center;
}
.social-media-list {
  text-align: right;
}


// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
