build/
bin/
gen/
out/
obj/
/local.properties
gradle/
.gradle/
gradlew
gradelw.bat
.idea/workspace.xml
.idea/libraries
.idea/tasks.xml
.idea/datasources.xml
.idea/dataSources.ids
.idea/dictionaries/
.idea/copyright/
.DS_Store
*.iml
*.so
*.o
*.class
