.DS_Store
xcuserdata
*~
project.xcworkspace

*.orig
.sass-cache
_site
WhirlyGlobeSrc/WhirlyGlobeLib/WhirlyGlobe.framework
WhirlyGlobeSrc/WhirlyGlobe-MaplyComponent/WhirlyGlobeMaplyComponent.framework
