[submodule "utilities/eigen"]
	path = utilities/eigen
	url = git@github.com:iNiKe/eigen.git
[submodule "utilities/boost"]
	path = utilities/boost
	url = git@github.com:iNiKe/boost.git
[submodule "resources/wg-resources"]
	path = resources/wg-resources
	url = git@github.com:iNiKe/wg-resources.git
