<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mousebirdconsulting.autotester">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.mousebirdconsulting.autotester.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mousebirdconsulting.autotester.ResultActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <service android:enabled="true" android:name="com.mousebirdconsulting.autotester.GdbServerService"
            android:label="@string/app_name" android:icon="@mipmap/ic_launcher">
            <intent-filter >
                <action android:name="com.mousebirdconsulting.autotester.GdbServerService" />
            </intent-filter>
        </service>
    </application>

</manifest>
