<div class="row">
  <div class="col-sm-12">
    <div class="col-sm-3 big-button">
      <a class="bb-source" href="https://github.com/mousebird/WhirlyGlobe/" target="_blank">Source</a>
    </div>
    <div class="col-sm-3 big-button">
      <a class="bb-binary" href="{{ site.baseurl }}/builds/builds.html">Binaries</a>
    </div>
    <div class="col-sm-3 big-button">
      <a class="bb-documentation" href="{{ site.baseurl }}/reference/reference.html">Documentation</a>
    </div>
    <div class="col-sm-3 big-button">
      <a class="bb-cocoapods" href="http://cocoapods.org/?q=whirlyglobe" target="_blank">Cocoapod</a>
    </div>
  </div>
</div>
