<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{{ site.description }}">

  <!-- Bootstrap -->
  <link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <!-- Fontwork -->
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/MyFontsWebfontsKit.css">
  <link href='https://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>

  <!-- Fav Icon -->
  <link rel="shortcut icon" href="{{ site.baseurl }}/images/fav-icon.ico" />

  <!--
  /**
   * @license
   * MyFonts Webfont Build ID 2914949, 2014-11-03T22:17:38-0500
   *
   * The fonts listed in this notice are subject to the End User License
   * Agreement(s) entered into by the website owner. All other parties are
   * explicitly restricted from using the Licensed Webfonts(s).
   *
   * You may obtain a valid license at the URLs below.
   *
   * Webfont: Museo-700 by exljbris
   * URL: http://www.myfonts.com/fonts/exljbris/museo/700/
   *
   * Webfont: Museo-300 by exljbris
   * URL: http://www.myfonts.com/fonts/exljbris/museo/300/
   *
   * Webfont: Museo-500 by exljbris
   * URL: http://www.myfonts.com/fonts/exljbris/museo/500/
   *
   *
   * License: http://www.myfonts.com/viewlicense?type=web&buildid=2914949
   * Licensed pageviews: 10,000
   * Webfonts copyright: Copyright (c) 2008 by Jos Buivenga/exljbris. All rights reserved.
   *
   * © 2014 MyFonts Inc
  */
  -->
{% include ga.html %}
</head>
