<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseName</key>
	<string>lowres_wtb</string>
	<key>borderSize</key>
	<integer>4</integer>
	<key>format</key>
	<string>pvrtc</string>
	<key>pixelsSquare</key>
	<integer>256</integer>
	<key>tilesInX</key>
	<integer>5</integer>
	<key>tilesInY</key>
	<integer>2</integer>
</dict>
</plist>
