<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div id="wrap">
      {% include header.html %}

      <div class="container">
        <div class="row">
          <div class="col-sm-9 tutorial tutorial-main">

            <h2>{{ page.title }}</h2>
            {{ content }}

          </div>

          <div class="col-sm-3 tutorial tutorial-sidebar">
            <div data-spy="affix" data-offset-bottom="124">
              <div class="sidebar-module">
                <nav>
                  <div class="trigger">
                    <ol class="list-unstyled sidebar-headers">
                      {% for tutorial in site.data.tutorial %}
                      <li class="sidebar-header-item">{{ tutorial.section }}</li>
                      <ol class="list-unstyled sidebar-list-items">
                      {%   for file in tutorial.files %}
                      {%     for p in site.pages %}
                      {%       capture f %}{{ p.url | remove:p.dir | remove:'/' }}{% endcapture %}
                      {%       if f == file.filename %}
                      {%         if p.title == page.title %}
                      <li class="sidebar-list-item current"><a class="page-link" href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a></li>
                      {%         else %}
                      <li class="sidebar-list-item"><a class="page-link" href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a></li>
                      {%         endif %}
                      {%       endif %}
                      {%     endfor %}
                      {%   endfor %}
                      </ol>
                      {% endfor %}
                    </ol>
                  </div>
                </nav>

              </div>
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col-sm-9" id="prev-next">
            {% if page.prev_next == null %}
            {%   assign last_section = site.data.tutorial.size | minus:1 %}
            {%   for tutorial in site.data.tutorial %}
            {%   assign t = forloop.index0 %}
            {%   for file in tutorial.files %}
            {%   assign last_file = forloop.length | minus:1 %}
            {%   assign f = forloop.index0 %}

            {%   capture g %}{{ page.url | remove:page.dir | remove:'/' }}{%   endcapture %}
            {%   if file.filename == g %}

            <!-- what follows is kinda horrifying -->
            <!-- is the current page the first page of the first tutorial section? -->
            {%     if t == 0 and f == 0 %}
            <!-- does this tutorial section have more than one page? -->
            {%       if f < last_file %}
            <!--   assign prev to the last page of the last section (cycle) and next to the next page in the same section -->
            {%         assign next_section = t %}
            {%         assign next_page = f | plus:1 %}
            {%       else %}
            <!--   assign prev to the last page of the last section (cycle) and next to the first page in the next section -->
            {%         assign next_section = t | plus:1 %}
            {%         assign next_page = 0 %}
            {%       endif %}
            {%       assign prev_section = last_section %}
            {%       assign prev_page = site.data.tutorial[last_section].files.size | minus:1 %}
            {%     else %}

            <!-- is the current page the last page of the last tutorial section? -->
            {%       if t == last_section and f == last_file %}
            <!-- does this tutorial section have more than one page? -->
            {%         if last_file > 0 %}
            <!--   assign prev to the previous page in the same section and next to the first page of the first section (cycle) -->
            {%           assign prev_section = t %}
            {%           assign prev_page = f | minus:1 %}
            {%         else %}
            <!--   assign prev to the last page of the previous section and next to the first page of the first section (cycle) -->
            {%           assign prev_section = t | minus:1 %}
            {%           assign prev_page = site.data.tutorial[prev_section].files.size | minus:1 %}
            {%         endif %}
            {%         assign next_section = 0 %}
            {%         assign next_page = 0 %}
            {%       else %}

            <!-- is the current page the first in a tutorial section? -->
            {%         if f == 0 %}
            <!-- does this tutorial section have more than one page? -->
            {%           if last_file > 0 %}
            {%             assign next_section = t %}
            {%             assign next_page = f | plus:1 %}
            {%           else %}
            {%             assign next_section = t | plus:1 %}
            {%             assign next_page = 0 %}
            {%           endif %}
            {%           assign prev_section = t | minus:1 %}
            {%           assign prev_page = site.data.tutorial[prev_section].files.size | minus:1 %}
            {%         else %}

            <!-- is the current page the last in a tutorial section containing multiple pages? -->
            {%           if f == last_file %}
            {%             assign prev_section = t %}
            {%             assign prev_page = f | minus:1 %}
            {%             assign next_section = t | plus:1 %}
            {%             assign next_page = 0 %}
            {%           endif %}

            <!-- is the current page neither the first or last in a tutorial section -->
            {%           if f > 0 and f < last_file %}
            {%             assign prev_section = t %}
            {%             assign prev_page = f | minus:1 %}
            {%             assign next_section = t %}
            {%             assign next_page = f | plus:1 %}
            {%           endif %}

            {%         endif %}
            {%       endif %}
            {%     endif %}

            <!-- deliver next/prev links -->
            <a class="prev" href="{{ site.data.tutorial[prev_section].files[prev_page].filename | prepend: '/tutorial/ios/' | prepend: site.baseurl }}">Previous</a><a class="next" href="{{ site.data.tutorial[next_section].files[next_page].filename | prepend: '/tutorial/ios/' | prepend: site.baseurl }}">Next</a>


            {%   endif %}
            {%   endfor %}
            {%   endfor %}
            {% else %}
            <a class="prev" href="{{ page.prev_next.prev | prepend: '/tutorial/ios/' | prepend: site.baseurl }}">Previous</a><a class="next" href="{{ page.prev_next.next | prepend: '/tutorial/ios/' | prepend: site.baseurl }}">Next</a>


            {% endif %}

          </div>
        </div>

      </div>
    </div>

    {% include footer.html %}
    <script src="{{ site.baseurl }}/js/tutorial.js"></script>
  </body>
</html>
